.container-header {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

/* Estilo para o id active */
#active {
  color: #d1f34a;
  font-weight: bold;
}

/*logo*/
.header-logo h1 {
  font-size: 25px;
}
.header-logo span {
  color: #d1f34a;
}

/*navbar*/
.header-navbar nav ul {
  display: flex;
}
.header-navbar nav ul li {
  margin: 0 1rem;
  list-style-type: none;
  cursor: pointer;
}

.header-navbar nav ul li a {
  color: white;
}

.header-navbar nav ul li a:hover {
  color: #d1f34a;
  transition: 0.5s;
}

/*responsivo 768px*/
@media (max-width: 768px) {
  .header-navbar {
    display: none;
  }
}